AIRBYTE_URL=http://localhost:8000
AIRBYTE_CLIENT_ID=YOUR_CLIENT_ID
AIRBYTE_CLIENT_SECRET=YOUR_CLIENT_SECRET
AIRBYTE_CONNECTION_IDS=UUID_MYSQL,UUID_POKEAPI
DBT_PROJECT_DIR=/ABS/PATH/TO/REPO/dbt
PREFECT_API_URL=http://127.0.0.1:4200/api
